{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CARS</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

{#    <div class="wrapper">#}
    <form method="post" action="create/">
        <h2>Добавить авто</h2>
        {% csrf_token %}
            <label for="mark">марка авто</label>
            <input id="mark" type="text" name="mark">
            <label for="manufacturer">производитель</label>
            <input id="manufacturer" type="text" name="manufacturer">
            <label for="year">год</label>
            <input id="year" type="number" name="year">
            <label for="gos_number" >гос номер</label>
            <input id="gos_number" type="text" name="gos_number">
            <input type="submit" value="Сохранить">
    </form>
{#    </div>#}

    {% if cars.count > 0 %}
        <h3>База автомобилей</h3>
        <table>
            <tr><th>Id</th><th>марка авто</th><th>производитель</th><th>год</th><th>госномер</th></tr>
            {% for car in cars %}
            <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.mark }}</td>
                <td>{{ car.manufacturer }}</td>
                <td>{{ car.year }}</td>
                <td>{{ car.gos_number }}</td>
                <td><a class="edit" href="edit/{{ car.id }}">Изменить</a> | <a class="del" href="delete/{{ car.id }}">Удалить</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>